body {
    font-family: sans-serif;
    background-color: #f0f0f5;
}

#page-content {
    padding-right: 5%;
    padding-left: 10%;
}

#graph-grid {
    padding:1rem;
    background-color: rgba(86, 61, 124, 0.10);
    border: 1px solid rgba(86, 61, 124, 0.2);
    border-radius: 5px;

    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.graph-grid {
    padding:1rem;
    background-color: rgba(86, 61, 124, 0.10);
    border: 1px solid rgba(86, 61, 124, 0.2);
    border-radius: 5px;

    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#graph-grid-notop {
    padding:1rem;
    background-color: rgba(86, 61, 124, 0.10);
    border: 1px solid rgba(86, 61, 124, 0.2);
    border-radius: 5px;

    margin-right: 10px;
    margin-bottom: 5px;
}

#statistics-grid {
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.line-graphs {
    margin-top: 15px;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
}